body 
{
    padding: 0;
    margin: 0;
    background-color: white;
}

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #022B3A;
}

/* Defines sections within header */
container
{
    padding: 20px;
    color: #fdfdfd;
    font-size: 30px;
    padding: 10px;
    font-family: "Trebuchet MS";
}

container a 
{
    color: #fdfdfd;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: "Trebuchet MS";
    border: 20px;
    border-radius: 5px;
    border-color: #022B3A;
    background-color: #022B3A;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

/* Displays elements side by side
   Use: main area of pages between header & footer
*/
box 
{
    display: flex;
}


/* Style box links*/
box a 
{
    color: #e7e7e7;
    text-decoration: none;
}


welcome-bar 
{
    display: flex;
    background-color: #f4f4f4;
    width: 96%;
    height: auto;
    margin: 40px 20px 20px;
    border: 10px solid #f4f4f4;
    border-radius: 10px;

    color: #4e4e4e;
    font-size: 20px;
    font-family: "Trebuchet MS";
}

.welcome-text 
{
    margin-top: 10px;
    color: #4e4e4e;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    padding-right: 10px;
}

container2 
{
    width: 100%;
}

scroll-table 
{
    margin: 20px;
    display: block;
    width: 1300px;
    height: 500px;
    background-color: #f4f4f4;
    overflow-x: scroll;
    overflow-y: scroll;
}

sidebar 
{
    display: block;
    height: 800px;
    width: 150px;
    background-color: #f4f4f4;
}

.sidebar-btn 
{
    height: 80px;
    width: 80px;
    margin: 30px;
    background-color: #1F7A8C;
    border: none;
    color: white;
    font-family: "Trebuchet MS";
    cursor: pointer;
}

.sidebar-btn:hover 
 {
    transition-duration: 0.2s;
    background-color: #022B3A;
 }


/* Main "Dark Blue" button style
   Use for all major buttons
*/
.main-button 
{
    color: white;
    border: 20px;
    border-radius: 5px;
    border-color: #1F7A8C;
    background-color: #022B3A;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.main-button:hover
{
    transition-duration: 0.4s;
    background-color: #011e28;
    border-color: #011e28;
}

.login-button 
{
    color: white;
    border: 20px;
    border-radius: 5px;
    border-color: #1F7A8C;
    background-color: #022B3A;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.signup-button 
{
    color: #303030;
    border: 20px;
    border-radius: 5px;
    border-color: #ffffff;
    background-color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

/* Disable link styling if nested in button */
.signup-button a
{
    background-color: transparent;
    color: #303030;

}

.signup-button a:hover
{
    background-color: transparent;
}

.login-button:hover, container a:hover 
{
    transition-duration: 0.4s;
    background-color: #011e28;
    border-color: #011e28;
    cursor: pointer;
}

.signup-button:hover 
{
    transition-duration: 0.4s;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
}


/* -------- TAB SYSTEM STYLE -------- */
.tab
{
    overflow: hidden;
    background-color: #1F7A8C;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.tab button 
{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.2s;
    color: white;
    font-size: 15px;
}

.tab button:hover 
{
   background-color: #022B3A;
}

/* Active tablink class to keep color while content is active */
.tab button.active 
{
    background-color: #011e28;
}

/* Do not display tab content by default */
.tabcontent 
{
    display: none;
}
/*End table system style*/




/* ------------- POP UP FORM STYLING -------------- */

/* hiddes popup by default, sets transparency and 
   position for see-through overlay effect */
.form-popup 
{
    grid-area: 1 / 1;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 175px;
    right: 75px;
    height: 70%;
    width: 40%;
    z-index: 9;
    display: none;
}

/* defines position and size of content for overlay*/
.content 
{
    grid-area: 1 / 1;
    height: 800px;
    width: 920px;
}

.form-container 
{
    margin-right: 50px;
    width: auto;
    padding: 50px;
    background-color: transparent;
    font-family: "Trebuchet MS";
    color: #181818;
}


/* Max-width input fields */
.form-container input[type=text], .form-container input[type=password] 
{
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 22px;
    margin-left: 0px;
    border: none;
    background: #f1f1f1;
 }

/* When the inputs are focused, change background */
.form-container input[type=text]:focus, .form-container input[type=password]:focus 
{
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn 
{
    background-color: rgba(2, 43, 58, 1);
    color: #ffffff;
    padding: 15px;
    border: 1px solid #022B3A;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    margin-left: 20px;
}

.form-container .btn a
{
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

/* cancel button style */
.form-container .cancel 
{
    background-color: #0d0d0d;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover 
{
    opacity: 1;
}
/* --End popup form styling */


/* ------- DATABASE TABLE STYLING ------- */
.btable 
{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 50px 0px;
    padding: 10px;
}

.btable th 
{
    background-color: #f2f2f2;
    border: 1px solid #616161;
    padding: 10px;
    white-space: nowrap;
    background-color: #b8b8b8;
    color: black;
}

.btable td 
{
    border: 1px solid #616161;
    padding: 10px;
    white-space: nowrap;
    text-align: center;
}

/*Different background color on every other even row */
.btable tr:nth-child(even) 
{
    background-color: #dbdbdb;
}
/* ------- END DATABASE TABLE STYLING ------- */


/* 
    Style for default message and container
    
    Use with tab system on pages where content
    is changed by clicked on tabs
*/
default-message-box
{
    background-color: #f4f4f4;
    display: block;
    width: 1280px;
    height: 600px;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    margin-left: 20px;
    padding: 20px;
   

    color: #bfbfbf;
    font-family: "Trebuchet MS";
    font-size: 30px;
}


/* Horizontal Line Style */
hr .hr1 
{    
    border-top: 1px solid #c3c3c3;
}

/* Vertical Bar Style - Use in welcome bars */
.vl 
{
    border-left: 3px solid #dbdbdb;
    height: auto;
}

::-webkit-scrollbar 
{
    width: 10px;
    height: 10px;
}

/* Track - area of scroll bar that bar can move on */
::-webkit-scrollbar-track 
{
    background: #f1f1f1;
}

/* Handle - portion of scroll bar that actually moves */
::-webkit-scrollbar-thumb 
{
    background: #9f9f9f;
}

/* Change color of scroll bar thum on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #555;
}

/* Footer Styling*/
footer 
{
    width: 100%;
    height: auto;
    margin-top: 0px;
    background-color: #022B3A;
}

.ftable 
{
    color: #e7e7e7;
    padding: 20px;
    font-family: "Trebuchet MS";
    font-size: 12px;
}

/* Styles table headers <th> nested inside tables of class ftable */
.ftable th 
{
    color: white;
    text-align: left;
    font-weight: bolder;
    letter-spacing: 3px;
}






