/* Page content styling */
container2
{
    display: block;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 300px;

}

container3 
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 600px;
    overflow-y: scroll;
}

/* Container to represent and store paper info */
paper-box
{
    min-width: 200px;
    min-height: 300px;
    max-height: 300px;
    max-width: 200px;
    background-color: #f4f4f4;
    display: inline;
    margin: 0px;
    padding: 10px;
}

/* Button Styling */
.upload-paper-btn 
{
    background-color: #b8b8b8;
    margin-top: 90px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #b8b8b8;
    border-radius: 5px;
    color: white;
    font-family: 'Trebuchet MS';
}

.delete-paper-btn 
{
    height: 30px;
    width: 30px;
    margin-left: 170px;
    margin-top: 0px;
    padding-right: 10px;
    background-color: #b8b8b8;
    border: none;
}


.upload-paper-btn:hover 
{
    background-color: #444444;
    border-color: #444444;
}

/* Heading Styling */
h1
{
    font-family: "Trebuchet MS";
    font-size: 15px;
    color: #181818;
}

h2 
{
    font-family: "Trebuchet MS";
    font-size: 12px;
    color: #181818;
    text-align: left;
}